<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ck2020.cklearn">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".db.RealmTestActivity" />
        <activity android:name=".file_read.FileMainActivity" />
        <activity android:name=".file_read.FileTestActivity" />
        <activity android:name=".kt.high_order_func.TestHighOrderActivity" />
        <activity android:name=".kt.FuncActivity" />
        <activity android:name=".kt.expand_func.TestExpandActivity" />
        <activity android:name=".coroutine.CoroutineScopeActivity" />
        <activity android:name=".result_api.BaseResultActivity" />
        <activity android:name=".result_api.FirstActivity">
            <intent-filter>
                <action android:name="com.ck2021.cklean.FIRST" />

                <category android:name="android.intent.category.DEFAULT" /> <!-- 可忽略 -->
            </intent-filter>
        </activity>
        <activity android:name=".result_api.SecondActivity">
            <intent-filter>
                <action android:name="com.ck2021.cklean.SECOND" />

                <category android:name="android.intent.category.DEFAULT" /> <!-- 可忽略 -->
            </intent-filter>
        </activity>
        <activity android:name=".handler_demo.HandlerTestActivity" />
        <activity android:name=".volatile_demo.VolatileDemoActivity" />
        <activity android:name=".sliding_conflict.NestScrollRecyclerActivity" />
        <activity android:name=".customview.volumeview.VolumeActivity" />
        <activity android:name=".customview.verificationview.VerificationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>